{% load i18n %}

<!-- شريط التنقل العلوي -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">{% trans 'App Name' %} </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbarSupportedContent">
        {% include 'partials/header_search.html' %}
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
            <a href="{% url 'stor.cart' %}" class="btn btn-outline-dark">
              {% trans 'Card' %} <span id="cart-items-count">({{cart_product|length}})</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<!-- شريط الفئات -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top category-bar">
    <div class="container">
      <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav my-2 my-lg-0">
          {% for category in categories %}
          <li class="nav-item"> 
            <a class="nav-link mx-1" href="{% url 'stor.category' category.id %}" role="button"> 
              {{category.name}} 
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</nav>

<style>
    body {
        padding-top: 120px; 
    }
    .category-bar {
        top: 56px; 
        z-index: 1029;
    }
</style>
