<div class="main-slider my-auto">
  <!-- Additional required wrapper -->
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <div class="swiper-wrapper">
    {% for slid in sliders %}
    <div class="swiper-slide">
      <div class="container pt-5">
        <div class="row">
          <div class="col-md-4 text-center d-none d-lg-block">
            <img src="{{slid.image.url}}" alt="{{slid.title}}" class="img-fluid rounded" />
          </div>
          <div class="col-md-8">
            <h1 class="text-secondary">
              {{slid.title}} 
            </h1>
            <blockquote class="blockquote mt-4">
              <p class="text-muted">{{slid.subtitle}}</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>